* {
  margin: 0;
}
#navbar {
  height: 5rem;
  background: gray;
}
.logo {
  color: white;
  font-size: 70px;
}
.hero {
  color: white;
  font-size: 20px;
  background: blue;
  min-height: calc(100vh - 5rem);
}
span {
  font-size: 50px;
  color: rgba(0, 0, 0, 1);
}
.hero-btn {
  color: white;
  background: blueviolet;
}
